@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.type_section {
    margin-top: 36px ;
    width: 100%;
    background-color: #3ac1b2;
    padding: 20px 10px;
}
.type_content{
    display: grid;
    grid-template-columns: repeat(auto-fit,170px);
    justify-content: space-between;
}
.item {
    border:2px solid #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.item_image {
    position: relative;
    padding: 0 0 90% 0;
}

.item_image img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.for_buy {
    background: linear-gradient( #fff, #3ac1b2);
    padding: 15px 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.for_buy button{
    font-family:  'Roboto', sans-serif;
    padding: 3px 15px;
    color: #00ced3;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #00ced3;
}
.for_buy span{
    font-family:  'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
 }
